<% content_for :title, "Desmotes' Home" %>

<!-- Navigation bar -->

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#index">Desmotes Panel</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <!-- <li><a href="#"><i class="fa fa-user fa-fw"></i>User login</a>
                        </li> -->
                        <!-- <li class="divider"></li> -->
                        <li><a href="https://www.google.com"><i class="fa fa-sign-out fa-fw"></i> Exit</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>

    <br>

    <!-- Page container -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer" style="background: #f8f8f8">
            <h1>Desmotes</h1>
            <h1> <small>Cloud enabled Monitoring as a Service</small></h1>
        </header>

        <!-- <hr> -->

        <div class="row">
          <!-- login panel -->
          <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
            <!-- <div class="panel-heading">Login</div> -->
            <div class="panel-body">

            <!-- Login Form -->
            <!-- <form role="form" action="/users/signin" method="post"> -->
            <%= bootstrap_form_tag url: 'login' do |f| %>
            <!-- Username Field -->
                <div class="row">
                    <div class="form-group col-xs-12">
                    <!-- <label for="username"><span class="text-danger" style="margin-right:5px;">*</span>Username:</label> -->
                        <div class="input-group">
                            <!-- <input class="form-control" id="username" type="text" name="username" placeholder="Username" required style="width: 95%;"/> -->
                            <%= f.text_field :username, label: "Username:" , class: "form-control" , placeholder: "Username" %>
                            <span class="input-group-btn">
                                <label class="btn" >
                                  <!-- style="width: 290px;" -->
                                <!-- <label class="btn btn-primary" style="margin-top: 18px;">
                                  <span class="glyphicon glyphicon-user" aria-hidden="true">
                                  </label> -->
                            <!-- </span> -->
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Content Field -->
                <div class="row">
                    <div class="form-group col-xs-12">
                        <!-- <label for="password"><span class="text-danger" style="margin-right:5px;">*</span>Password:</label> -->
                        <div class="input-group">
                            <!-- <input class="form-control" id="password" type="password" name="password" placeholder="Password" required/> -->
                            <%= f.password_field :password, label: "Password:" , class: "form-control" , placeholder: "Password" %>
                            <span class="input-group-btn" onclick="show_pass(); return false" >
                              <!-- onclick="show_pass(); return false" -->
                                <label class="btn btn-primary" style="margin-top: 25px;"><span class="glyphicon glyphicon-lock" aria-hidden="true" ></label>
                            <!-- </span> -->
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Login Button -->
                <div class="row">
                    <div class="form-group col-xs-4">
                        <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
                        <%= f.submit "Log In", class: "btn btn-primary" %>
                    </div>

                    <% if flash[:string] %>
                      <label> <span class="text-danger" style="margin-right:5px;">Username or Password is empty</span></label>
                    <% elsif flash[:empty] %>
                      <label> <span class="text-danger" style="margin-right:5px;">Wrong Username or Password</span></label>
                    <% end %>
                </div>
              <% end %>

            <!-- </form> -->
            <!-- End of Login Form -->

            </div>
          </div>
        </div>
      </div>


      <hr>

      <!-- Footer -->
      <footer>
          <div class="row">
            <div class="col-md col-md-offset-5">
              <p style="color: #f8f8f8"> Desmotes' Copyright &copy; Website <%=Date.today.year%></p>
            </div>
          </div>
      </footer>

    </div>
    <!-- /.container -->
